body {
  background: #8C6E6C;
}

h2, h3 {
 color: #D5BFBE;
}

.exchange-container {
  margin: 0px;
}

.exchange-container button {
  border-radius: 5px;
  margin-top: 5px;
  background-color: #D5BFBE;
}